* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

#fundo {
    display: flex;
    justify-content: center;
    position: relative;
    top: 48vh;
}

#keyboard {
    border: 1px solid black;
    position: relative;
}

.tecla {
    width: 25px;
    text-transform: lowercase;
}

#resultado {
    background: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 78px;
    border: 2px solid black;
}